.markdown-preview {
  h2::before {
    content: "◎";
  }
  ul {
    list-style-type: upper-alpha;
  }
  ol {
    list-style-type: disc;
  }
  strong {
    margin: 0 2px;
    border: 1px solid black;
    padding: 2px 2px;
    font-size: 20px;
    color: tomato;
  }
}
