.markdown-preview {
  vertical-align: middle;
  h2::before {
    content: "◎";
  }
  ul {
    list-style-type: upper-alpha;
  }
  ol {
    list-style-type: disc;
  }
  strong {
    margin: 0 0.125em;
    border: 1px solid black;
    padding: 0.125em;
    font-size: 1.25em;
    background-color: #fdc;
    color: fade(#F64, 100%);
    @media print {
      color: fade(#F64, 75%);
    }
    transition: color 0.25s;
  }
  &.hidered strong {
    color: fade(#F64, 0%);
  }
}

.switch {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0em;
  bottom: 0em;
  margin: 0em;
  padding: .25em;
  line-height: 3em;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #444;
  opacity: .5;
  span {
    color: #FFF;
  }
  input {
    width: 3em;
    height: 3em;
  }
  @media print {
    display: none;
  }
}
